<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517759369215-0eh414ngtbbpkgj64ijqdut55a5b9mnb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517759369215-0eh414ngtbbpkgj64ijqdut55a5b9mnb</string>
	<key>API_KEY</key>
	<string>AIzaSyBisjG8DW3MTKAOFBt7vzuZm7GdXTMC7Dg</string>
	<key>GCM_SENDER_ID</key>
	<string>517759369215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dijibook</string>
	<key>PROJECT_ID</key>
	<string>e-library-ef4c3</string>
	<key>STORAGE_BUCKET</key>
	<string>e-library-ef4c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517759369215:ios:b6f45b3abe5b0d5d15b1ca</string>
</dict>
</plist>